﻿@model TEST.Models.SysUserDatas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SysUserDatas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPasswd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPasswd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSuspendFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSuspendFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSuspendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSuspendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserReinstateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserReinstateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentRegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentRegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentSuspendFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentSuspendFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentSuspendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentSuspendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentReinstateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentReinstateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessSrc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessSrc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommSetupNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommSetupNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsAgentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsAgentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommTypeFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommTypeFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorUnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorUnitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastVisitDl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastVisitDl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastVisitTodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastVisitTodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastVisitNews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastVisitNews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoDirectBusiness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoDirectBusiness)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
