﻿@model IEnumerable<TEST.Models.SysUserDatas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPasswd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSuspendFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSuspendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserReinstateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentRegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentSuspendFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentSuspendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentReinstateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessSrc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommSetupNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsAgentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommTypeFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuspendReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorUnitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastVisitDl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastVisitTodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastVisitNews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoDirectBusiness)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UnitId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPasswd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSuspendFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSuspendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserReinstateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentRegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentSuspendFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentSuspendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentReinstateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessSrc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommSetupNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsAgentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommTypeFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuspendReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorUnitId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastVisitDl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastVisitTodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastVisitNews)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoDirectBusiness)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
