﻿@using TEST.HtmlHelpers
@using TEST.Areas.PoR_System.Models
@model UserDataInsertViewModel

<div class="container-fuild">
    <!--Start breadcrumb-->
    <nav aria-label="breadcrumb-item" class="breadcrumb-wrap">
        <div class="main-cont cont-wid">
            <ol class="breadcrumb m-0 px-0">
                @*<li class="breadcrumb-item"><a href="${appUrl.sys}/index">首頁</a></li>
                    <li class="breadcrumb-item">
                        <a href="${appUrl.sys}/insClass/sys">系統維運</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="${basePath}/userData/search">使用者管理</a>
                    </li>*@
            </ol>
        </div>
    </nav>
    <!--End breadcrumb-->
    <!--Strat main-cont-->
    <div class="main-cont cont-wid">
        <!--class:cont-wid PC:1280px, pad:1024px, mobile:480px-->
        @*@{
            var ajaxOptions = new AjaxOptions {
                HttpMethod = "POST",
                OnBegin = "updateBegin",
                OnSuccess = "updateSuccess",
                OnFailure = "updateFailure"
            };
        }*@
        @*@using (Ajax.BeginForm(Model.Operation, null, "UserData", ajaxOptions)) {*@
        <h1 class="main-title mt-4">使用者管理</h1>
        <!--Start system-bar-->
        <div class="section system-bar">
            <div class="row no-gutters">
                <div class="col-md-6 mb-2">
                    <div class="input-group">
                        <label class="form-label col-md-4">單位</label>
                        <div class="col-md">
                            <select id="channelId" class="form-control" onChange="authShow()" @(Model.Operation == "update" ? "disabled" : "")>
                                <option value="">請選擇</option>
                                @foreach (var item in @Model.Channels) {
                                    <option value="@item.ChannelId" channelType="@item.ChannelType"
                                            @(item.ChannelId == Model.UserData.ChannelId ? "selected" : "")>
                                        @item.ChannelName
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-md">
                            <select id="unitId" class="form-control">
                                <option value="">請選擇</option>
                                @foreach (var item in @Model.Units) {
                                    <option value="@item.UnitId" channelid="@item.ChannelId"
                                            @(item.UnitId == Model.UserData.UnitId ? "selected" : "")>
                                        @item.UnitName
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">使用者代號</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.UserId, new { @class = "form-control", @id = "userId" }).IsDisable(Model.Operation == "update" ? true : false)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">使用者姓名</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.UserName, new { @class = "form-control", @id = "userName" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">通路服務人員代號</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.InsAgentId, new { @class = "form-control", @id = "insAgentId" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">是否為業務員</label>
                        <div id="agentflag" class="col-md-7">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.UserData.AgentFlag, "Y", new { @onchange = "agentFieldShow()" }).IsCheck(Model.UserData.AgentFlag == "Y")
                                是
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.UserData.AgentFlag, "N", new { @onchange = "agentFieldShow()" }).IsCheck(Model.UserData.AgentFlag == "N")
                                否
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">使用者電郵帳號</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.UserMail, new { @class = "form-control", @id = "userMail" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">使用者停權註記</label>
                        <div class="col-md-7">
                            <input type="checkbox" id="userSuspendFlag" ${user.usersuspendflag eq 'Y' ? 'checked' : '' } value="Y">
                            @*@Html.CheckBoxFor(m => m.UserData.UserSuspendFlag == "Y" ? true : false, new { @id = "userSuspendFlag" }).IsCheck(Model.UserData.UserSuspendFlag == "Y")
                            @Html.CheckBox()*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">使用者停權日期</label>
                        <div class="col-md-7">
                            <label class="form-label col-md-6">
                                @*<fmt:formatDate value="${user.usersuspenddate}" pattern="${dateFormatPattern[0]}" />*@
                                @Html.ValueFor(m => m.UserData.UserSuspendDate, "{0:yyyy-MM-dd}")
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">停權原因</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.SuspendReason, new { @class = "form-control", @id = "suspendReason" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">使用者復權日期</label>
                        <div class="col-md-7">
                            <label class="form-label col-md-6">
                                @*<fmt:formatDate value="${user.userreinstatedate}" pattern="${dateFormatPattern[0]}" />*@
                                @Html.ValueFor(m => m.UserData.UserReinstateDate, "{0:yyyy-MM-dd}")
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">個人電郵帳號</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.PersonalMail, new { @class = "form-control", @id = "personalMail" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6  agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">業務員登錄證號</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.AgentRegNo, new { @class = "form-control", @id = "agentRegNo" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">業務員停招註記</label>
                        <div class="col-md-7">
                            <input type="checkbox" id="agentSuspendFlag" ${user.agentsuspendflag eq 'Y' ? 'checked' : '' } value="Y">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">業務員停招日期</label>
                        <div class="col-md-7">
                            <label class="form-label col-md-6">
                                @*<fmt:formatDate value="${user.agentsuspenddate}" pattern="${dateFormatPattern[0]}" />*@
                                @Html.ValueFor(m => m.UserData.AgentSuspendDate, "{0:yyyy-MM-dd}")
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">業務員復效日期</label>
                        <div class="col-md-7">
                            <label class="form-label col-md-6">
                                @*<fmt:formatDate value="${user.agentreinstatedate}" pattern="${dateFormatPattern[0]}" />*@
                                @Html.ValueFor(m => m.UserData.AgentReinstateDate, "{0:yyyy-MM-dd}")
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">是否完成行動投保教育訓練註記</label>
                        <div class="col-md-7">
                            <input type="checkbox" id="mobileFlag" @(Model.UserData.MobileFlag == "Y" ? "checked" : "") value="Y">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">業務員身分ID</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.AgentId, new { @class = "form-control", @id = "agentId" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">業務來源代號</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.BusinessSrc, new { @class = "form-control", @id = "businessSrc" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">業務員電話</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.AgentTel, new { @class = "form-control", @id = "agentTel" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">行動電話</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.AgentMobile, new { @class = "form-control", @id = "agentMobile" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">業務員地址</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.AgentAddress, new { @class = "form-control", @id = "agentAddress" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">經辦代號</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.CommSetupNo, new { @class = "form-control", @id = "commSetupNo" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 agnetField" style="@(Model.UserData.AgentFlag == "Y" ? "" : "display:none")">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">是否計績</label>
                        <div id="commTypeFlag" class="col-md-7">
                            <label class="radio-inline">
                                @*<input type="radio" name="commTypeFlag" value="Y" ${user.commtypeflag eq 'Y' ? 'checked' : '' }>是*@
                                @Html.RadioButtonFor(m => m.UserData.CommTypeFlag, "Y").IsCheck(Model.UserData.CommTypeFlag == "Y")
                            </label>
                            <label class="radio-inline">
                                @*<input type="radio" name="commTypeFlag" value="N" ${user.commtypeflag eq 'N' ? 'checked' : '' }>*@否
                                @Html.RadioButtonFor(m => m.UserData.CommTypeFlag, "N").IsCheck(Model.UserData.CommTypeFlag == "N")
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">主管註記</label>
                        <div id="supervisorFlag" class="col-md-7">
                            <label class="radio-inline">
                                @*<input type="radio" name="supervisorFlag" value="Y" ${user.supervisorflag eq 'Y' ? 'checked' : '' }>主管*@
                                @Html.RadioButtonFor(m => m.UserData.CommTypeFlag, "Y").IsCheck(Model.UserData.SupervisorFlag == "Y")
                                主管
                            </label>
                            <label class="radio-inline">
                                @*<input type="radio" name="supervisorFlag" value="T" ${user.supervisorflag eq 'T' ? 'checked' : '' }>旅行社主管*@
                                @Html.RadioButtonFor(m => m.UserData.CommTypeFlag, "T").IsCheck(Model.UserData.SupervisorFlag == "T")
                                旅行社主管
                            </label>
                            <label class="radio-inline">
                                @*<input type="radio" name="supervisorFlag" value="N" ${user.supervisorflag eq 'N' ? 'checked' : '' }>非主管*@
                                @Html.RadioButtonFor(m => m.UserData.SupervisorFlag, "N").IsCheck(Model.UserData.SupervisorFlag == "N")
                                非主管
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2">
                        <label class="form-label col-md-4">主管單位</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.UserData.SupervisorUnitId, new { @class = "form-control", @id = "supervisorUnitId" })
                        </div>
                    </div>
                </div>
                <div class="input-group mb-2  authShow">
                    <label class="form-label col-md-4">住火審核層級</label>
                    <div class="col-md-5">
                        <select class="form-control" id="authLevel">
                            <option value=""></option>
                            <option value="1" @(Model.InsAuthLevelDtls.AuthLevel == "1" ? "selected" : "") }>
                                一級
                            </option>
                            <option value="2" @(Model.InsAuthLevelDtls.AuthLevel == "2" ? "selected" : "") }>
                                二級
                            </option>
                            <option value="3" @(Model.InsAuthLevelDtls.AuthLevel == "3" ? "selected" : "") }}>
                                三級
                            </option>
                            <option value="4" @(Model.InsAuthLevelDtls.AuthLevel == "4" ? "selected" : "") }>
                                四級
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-2">
                    <label class="form-label col-md-4">車險直折註記</label>
                    <div id="autoDirectBusiness" class="col-md-7">
                        <label class="radio-inline">
                            @*<input type="radio" name="autoDirectBusiness" value="Y" ${user.autodirectbusiness eq 'Y' ? 'checked' : '' }>是*@
                            @Html.RadioButtonFor(m => m.UserData.AutoDirectBusiness, "Y").IsCheck(Model.UserData.AutoDirectBusiness == "Y")
                            是
                        </label>
                        <label class="radio-inline">
                            @*<input type="radio" name="autoDirectBusiness" value="N" ${user.autodirectbusiness eq 'N' ? 'checked' : '' }>否*@
                            @Html.RadioButtonFor(m => m.UserData.AutoDirectBusiness, "N").IsCheck(Model.UserData.AutoDirectBusiness == "N")
                            否
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 mb-2">
                <div class="input-group">
                    <label class="form-label col-md-4">生效日期</label>
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="input-group date datetimepicker1" id="effDate" data-target-input="nearest">
                                @*<input type="text" class="form-control datetimepicker-input" data-target="#effDate" value="${user.effdate}" />*@
                                @Html.TextBoxFor(m => m.UserData.EffDate, "{0:yyyy-MM-dd}", new { @class = "form-control datetimepicker-input", data_target = "#effDate" })
                                <div class="input-group-append" data-target="#effDate" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="input-group">
                    <label class="form-label col-md-4">失效日期</label>
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="input-group date datetimepicker1" id="expDate"
                                 data-target-input="nearest">
                                @*<input type="text" class="form-control datetimepicker-input" data-target="#expDate" value="${user.expdate}" />*@
                                @Html.TextBoxFor(m => m.UserData.ExpDate, "{0:yyyy-MM-dd}", new { @class = "form-control datetimepicker-input", data_target = "#expDate" })
                                <div class="input-group-append" data-target="#expDate" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-2">
                    <label class="form-label col-md-4">新增使用者角色</label>
                    <div class="col-md-5">
                        <select class="form-control" id="allUserRoles">
                            <option value="">請選擇</option>
                            @foreach (var item in Model.SysRoles) {
                                <option value="@item.CodeValue">@item.CodeName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" onClick="addUserRole()">
                            <i class="fa fa-plus" aria-hidden="true"></i>新增
                        </button>
                        @*<input type="button" value="新增" class="btn btn-primary" onClick="addUserRole()" />*@
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-2">
                    <label class="form-label col-md-4">複製使用者</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="copyUserId">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" onClick="copyUserRole()">
                            <i class="fa fa-files-o" aria-hidden="true"></i>複製
                        </button>
                        @*<input type="button" value="複製" class="btn btn-primary" onClick="copyUserRole()" />*@
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-12">
                <div class="input-group mb-2">
                    <label class="form-label col-md-2"></label>
                    <div class="col-md-9" style="overflow: scroll; height: 15rem">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th style="width: 70%">使用者角色</th>
                                    <th style="width: 0%"></th>
                                    <th style="width: 30%">功能</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyOfUserRole">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 btn-wrap btn-col-2 text-center">
                <button class="btn btn-primary" onclick="goBack()">
                    <i class="fa fa-times" aria-hidden="true"></i> 取消
                </button>
                @*<input type="button" value="取消" class="btn btn-primary" onclick="goBack()" />*@
                <button class="btn btn-default" onclick="updateUser()">
                    <i class="fa fa-save" aria-hidden="true"></i> 儲存
                </button>
                @*<input type="button" value="儲存" class="btn btn-primary" onclick="updateUser()" />*@
            </div>
        </div>
        <!--End system-bar-->
        @*}*@
    </div>
    <!--End main-cont-->
</div>
<!--End container-fuild-->

@section scripts{
    <script type="text/javascript" src="~/Scripts/util/comboBoxUtil.js"></script>
    <script type="text/javascript">
        function redirectCheck() {
            if ($('#channelId').val() !== "" && $('#unitId').val() !== "" && $('#userId').val() === "") {
                $('#channelId').prop('disabled', true);
                $('#unitId').prop('disabled', true);
            }
        }
        function agentFieldShow() {
            switch ($('#agentflag input:checked').val()) {
                case 'Y':
                    $('.agnetField').show();
                    break;
                case 'N':
                    $('.agnetField').hide();
                    break;
            }

        }
        function authShow() {
            //角色select初始化
            var $el = $("#allUserRoles");
            $el.empty();
            $el.append($("<option></option>").attr("value", "").text("請選擇"));
            //以選擇腳色清空
            $("#tbodyOfUserRole").find("tr").remove();
            var channelType = $('#channelId option[value="' + $('#channelId').prop('value') + '"]')
                .attr('channelType');
            if (channelType === "1") {
                $('.authShow').show();
                @foreach (var item in Model.SysRolesOpt1) {
                    @:$el.append($("<option></option>").attr("value", "@item.CodeValue").text("@item.CodeName"));
                }
            }
            else if (channelType === undefined) {
                $('.authShow').hide();
            }
            else {
                @foreach (var item in Model.SysRolesOpt2) {
                    @:$el.append($("<option></option>").attr("value", "@item.CodeValue").text("@item.CodeName"));
                }
                $('.authShow').hide();
            }
        }
        function initAuthShow() {
            //角色select初始化
            var $el = $("#allUserRoles");
            $el.empty();
            $el.append($("<option></option>").attr("value", "").text("請選擇"));

            var channelType = $('#channelId option[value="' + $('#channelId').prop('value') + '"]').attr('channelType');
            if (channelType === "1") {
                $('.authShow').show();
                @foreach (var item in Model.SysRolesOpt1) {
                    @:$el.append($("<option></option>").attr("value", "@item.CodeValue").text("@item.CodeName"));
                }
            }
            else if (channelType === undefined) {
                $('.authShow').hide();
            }
            else {
                @foreach (var item in Model.SysRolesOpt2) {
                    @:$el.append($("<option></option>").attr("value", "@item.CodeValue").text("@item.CodeName"));
                }
                $('.authShow').hide();
            }
        }
        redirectCheck();
        agentFieldShow();
        initAuthShow();
        function addUserRole() {
            var val = $("#allUserRoles").val();
            if (!val) {
                alert("請選擇角色");
            } else if (!appendRow(val)) {
                alert("此角色已存在");
            }
        }
        function canAdd(val) {
            var result = true;
            $("#tbodyOfUserRole tr input.userRole").each(function (index, element) {
                var thisVal = $(element).val();
                if (val === thisVal) {
                    result = false;
                }
            });
            return result;
        }
        function copyUserRole() {
            var channelId = $("#channelId").val();
            var userId = $("#userId").val();
            var copyUserId = $("#copyUserId").val();
            if (!channelId || !userId || !copyUserId || userId == copyUserId) {
                alert("請選擇正確的複製對象");
                return;
            }

            b2bAjaxCall({
                type: 'GET',
                url: '${basePath}/api/userDatas' + "/" + channelId + "/"
                    + copyUserId + "/roles",
                success: function (result) {
                    if (result.data) {
                        result.data.forEach(function (userroleid) {
                            appendRow(userroleid);
                        });
                    }
                },
                error: function (error) {
                    alert(error.msg);
                }
            });

        }
        function appendRow(userRoleId) {
            if (!canAdd(userRoleId)) {
                return false;
            }

            var userRoleName = $('#allUserRoles option[value="' + userRoleId + '"]').text();
            var tbody = '<tr>';

            tbody += '<td>';
            tbody += userRoleName;
            tbody += '</td>';

            tbody += '<td>'
            tbody += '<input type="text" class="d-none userRole" value="' + userRoleId + '" />'
            tbody += '</td>';

            tbody += '<td>';
            tbody += '<div class="row">'
            tbody += '<div onclick="deleteUserRole(this)" class="btn btn-primary">'
            tbody += '<i class="fa fa-times"></i>'
            tbody += '</div>'
            tbody += '</div>'
            tbody += '</td>';
            tbody += '</tr>';
            $("#tbodyOfUserRole").append(tbody);

            return true;
        }
        function deleteUserRole(element) {
            $(element).parent().parent().parent().remove();
        }
        function updateUser() {
            if ($('#effDate input').val() && $('#expDate input').val()) {
                if (moment($('#effDate input').val()).isAfter(moment($('#expDate input').val()))) {
                    alert('失效日不得早於生效日');
                    return;
                }
            }

            b2bAjaxCall({
                type: '@(Model.Operation == "insert" ? "POST" : "PUT")',
                url: '@Url.Action(Model.Operation)',
                data: {
                    channelId: $('#channelId').val(),
                    unitId: $('#unitId').val(),
                    userId: $('#userId').val(),
                    insAgentId: $('#insAgentId').val(),
                    userName: $('#userName').val(),
                    agentFlag: $('#agentflag input:checked').val(),
                    userMail: $('#userMail').val(),
                    personalMail: $('#personalMail').val(),
                    agentId: $('#agentflag input:checked').val() == "Y" ? $('#agentId').val() : '',
                    agentRegNo: $('#agentflag input:checked').val() == "Y" ? $('#agentRegNo').val() : '',
                    agentTel: $('#agentflag input:checked').val() == "Y" ? $('#agentTel').val() : '',
                    agentMobile: $('#agentMobile').val(),
                    agentAddress: $('#agentflag input:checked').val() == "Y" ? $('#agentAddress').val() : '',
                    businessSrc: $('#agentflag input:checked').val() == "Y" ? $('#businessSrc').val() : '',
                    commSetupNo: $('#agentflag input:checked').val() == "Y" ? $('#commSetupNo').val() : '',
                    commTypeFlag: $('#agentflag input:checked').val() == "Y" ? $('#commTypeFlag input:checked').val() : '',
                    supervisorFlag: $('#supervisorFlag input:checked').val() ? $('#supervisorFlag input:checked').val() : 'N',
                    supervisorUnitId: $('#supervisorUnitId').val(),
                    effDate: $('#effDate input').val(),
                    expDate: $('#expDate input').val(),
                    authLevel: $('#authLevel').val(),
                    userSuspendFlag: $('#userSuspendFlag').prop("checked") ? "Y" : "N",
                    agentSuspendFlag: $('#agentflag input:checked').val() == "Y" ? $('#agentSuspendFlag').prop("checked") ? "Y" : "N" : 'N',
                    mobileFlag: $('#agentflag input:checked').val() == "Y" ? $('#mobileFlag').prop("checked") ? "Y" : "N" : 'N',
                    userRoleIds: $("#tbodyOfUserRole tr input.userRole").map(
                        function (index, item) {
                            return $(item).val();
                        }).get(),
                    suspendReason: $('#suspendReason').val(),
                    autoDirectBusiness: $('#autoDirectBusiness input:checked').val()
                },
                success: function (data) {
                    alert('儲存成功');
                    window.location.href = '@Url.Action("")';
                },
                error: function (error) {
                    alert(error.msg);
                }
            });
        }
        function goBack() {
            window.location.href = "${basePath}/userData/search";
        }

        comboBoxAddSecondaryMenu("channelId", "unitId");
        //init userroleids
        var userroleids = JSON.parse('@Html.Raw(Model.UserRoleIds)');
        userroleids.forEach(function (userroleid, index) {
            appendRow(userroleid);
        });
    </script>
}