﻿@using TEST.Areas.PoR_System.Models
@model UserDataSearchViewModel

@section head {
    <link rel="stylesheet" href="~/Content/autocomplete.css">
}

<div class="container-fuild">
    <!--Start breadcrumb-->
    <nav aria-label="breadcrumb-item" class="breadcrumb-wrap">
        <div class="main-cont cont-wid">
            <ol class="breadcrumb m-0 px-0">
                @*<li class="breadcrumb-item"><a href="${appUrl.sys}/index">首頁</a></li>
                    <li class="breadcrumb-item">
                        <a href="${appUrl.sys}/insClass/sys">系統維運</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="${basePath}/userData/search">使用者管理</a>
                    </li>*@
            </ol>
        </div>
    </nav>
    <!--End breadcrumb-->
    <!--Strat main-cont-->
    <div class="main-cont cont-wid">
        <!--class:cont-wid PC:1280px, pad:1024px, mobile:480px-->
        @using (Html.BeginForm("Index", "UserData", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            <h1 class="main-title mt-4">使用者管理</h1>
            <!-- 頁面第一個大標請加上.mt-4 -->
            <!--Start search-bar-->
            <div class="section search-bar">
                <div class="row no-gutters">
                    <div class="col-md-6 mb-2">
                        <div class="input-group">
                            @Html.LabelFor(m => m.Condition.ChannelId, new { @class = "form-label col-md-4" })
                            <div class="col-md">
                                @*<input type="text" class="form-control" id="channelId" data-channels='@Model.channels' placeholder="請輸入通路" autocomplete="off">*@
                                @Html.TextBoxFor(m => m.Condition.ChannelId, new { @class = "form-control", @id = "channelId", data_channels = Model.Channels })
                            </div>
                            <div class="col-md">
                                <input type="text" class="form-control" id="unitId" placeholder="" data-units="@Model.Units" autocomplete="off">
                                @*@Html.TextBoxFor(m => m.Condition.UnitId, new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-2">
                            @Html.LabelFor(m => m.Condition.InEff, new { @class = "form-label col-md-4" })
                            <div id="inEff" class="col-md-7">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Condition.InEff, true)是
                                </label> <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Condition.InEff, false)否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-2">
                            @Html.LabelFor(m => m.Condition.UserId, new { @class = "form-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Condition.UserId, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="input-group mb-2">
                            @Html.LabelFor(m => m.Condition.UserName, new { @class = "form-label col-md-4" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Condition.UserName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-12 btn-wrap btn-col-2 text-center">
                        <input type="submit" value="查詢" class="btn btn-default" />
                        @*<button class="btn btn-primary" onclick="edit()">
                                <i class="fa fa-plus" aria-hidden="true"></i> 新增
                            </button>*@
                        <input type="button" value="新增" onclick="edit()" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
        <!--End search-bar-->
        <!--Start search-result-->
        @if (Model != null && Model.DataTable != null) {
            <h1 class="main-title">
                搜尋結果
                <p class="section-text float-right mb-0">
                    本次查詢總筆數 <span class="text-highlight">@Model.DataCount</span> 筆
                </p>
            </h1>
            <table class="table table-ui table-striped table-responsive-md text-center">
                <tr>
                    <th>單位</th>
                    <th>使用者代號</th>
                    <th>使用者姓名</th>
                    <th>生效日期</th>
                    <th>失效日期</th>
                    <th>功能</th>
                </tr>

                @foreach (var item in Model.DataTable) {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.UserData.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.UserData.UserName)
                        </td>
                        <td>
                            @if (item.UserData.EffDate == null) {
                                @:不設限
                            }
                            else {
                                @Html.ValueFor(m => item.UserData.EffDate, "{0:yyyy-MM-dd}")
                            }
                        </td>
                        <td>
                            @if (item.UserData.ExpDate == null) {
                                @:不設限
                            }
                            else {
                                @Html.ValueFor(m => item.UserData.ExpDate, "{0:yyyy-MM-dd}")
                            }
                        </td>
                        <td>
                            <button class="btn btn-default form-btn" onclick="edit('@item.UserData.ChannelId','@item.UserData.UnitId','@item.UserData.UserId')">
                                <i class="fa fa-pencil-square-o" aria-hidden="true">修改</i>
                            </button>
                            <button class="btn btn-danger form-btn" onclick="deleteUser(this,'@item.UserData.ChannelId','@item.UserData.UserId')">
                                <i class="fa fa-pencil-square-o" aria-hidden="true">刪除</i>
                            </button>
                        </td>
                    </tr>
                }
            </table>
        }
        <!--End search-result-->

    </div>
    <!--End main-cont-->
</div>
<!--End container-fuild-->

@section scripts {
    <script type="text/javascript" src="~/Scripts/util/displaytagUtil.js"></script>
    <script type="text/javascript" src="~/Scripts/util/comboBoxUtil.js"></script>
    <script type="text/javascript" src="~/Scripts/util/autocomplete.js"></script>
    <script type="text/javascript">
        //	comboBoxAddSecondaryMenu("channelId", "unitId");
        $(document).ready(function () {
            //通路autocomplete
            var channels = $('#channelId').data('channels');
            autocomplete($('#channelId')[0], channels, true);
            $('#channelId').data('channels', '');
            $('#channelId').removeAttr('data-channels');

            var units = $('#unitId').data('units');
            autocomplete($('#unitId')[0], units, true, 'channelId');
            $('#unitId').data('units', '');
            $('#unitId').removeAttr('data-units');
        });

        function getUsers(url) {
            displaytagAjaxCall({
                type: 'GET',
                url: '${basePath}/userData/userTable',
                data: {
                    channelId: $('#channelId').attr('code') == undefined ? '' : $('#channelId').attr('code'),
                    unitId: $('#unitId').attr('code') == undefined ? '' : $('#unitId').attr('code'),
                    inEff: $('#inEff input:checked').val(),
                    userId: $('#userId').val(),
                    userName: $('#userName').val()
                },
                dataType: 'html',
                success: function (tbody) {
                    $("#userTable").empty();
                    $("#userTable").append(tbody);
                },
                error: function (error) {
                    alert(error.msg);
                }
            }, url, getUsers, "userTable");
        }

        function edit(channelId, unitId, userId) {
            window.location.href = "UserData/Edit"
                + (channelId && userId ? ("?channelId=" + channelId + "&unitId=" + unitId + "&userId=" + userId)
                    : "");
        }

        function deleteUser(element, channelId, userId) {
            if (!confirm("確實要刪除嗎?"))
                return;

            b2bAjaxCall({
                type: 'DELETE',
                url: '@Url.Action("Delete")',
                data: {
                    channelId: channelId,
                    userId: userId
                },
                success: function (data) {
                    alert('刪除成功');
                    $(element).parent().parent().remove();
                },
                error: function (error) {
                    alert(error.msg);
                }
            });
        }
    </script>
}