﻿<div id="accordion">
    <div class="card text-right dropup">
        <div id="msgs" class="collapse" data-parent="#accordion">
            <div class="card-body"></div>
        </div>
        <div id="newmsg" class="card-header card-text text-muted">
            <p data-toggle="collapse" href="#msgs"></p>
        </div>
    </div>
</div>
<div class="modal-btn-section">
    <button class="btn-icon news-btn" title="最新消息" data-toggle="modal" onclick="getNewsList()" data-target="#newsList">
        @*<img class="" src="${basePath}/webjars/b2b-common/images/header/icon_news_d.png" alt="最新消息">*@
    </button>
    <!--btn-icon-sign:未讀則數 可用.d-none隱藏顯示-->
    <button class="btn-icon todo-btn" title="待辦事項" data-toggle="modal" onclick="getToDoList()" data-target="#toDoList">
        @*<img class="" src="${basePath}/webjars/b2b-common/images/header/icon_todolist_d.png" alt="待辦事項">*@
    </button>
    <button class="btn-icon download-btn" title="下載專區" data-toggle="modal" onclick="getDownloadList()" data-target="#downloadList">
        @*<img class="" src="${basePath}/webjars/b2b-common/images/header/icon_download_d.png" alt="下載專區">*@
    </button>
</div>

<footer class="footer">
    <div class="main-cont cont-wid">
        <div class="footer-box">
            <div class="footer-cont">
                @*<p>${copyright}${appVersion}</p>*@
                <p>建議使用Chrome瀏覽器瀏覽</p>
            </div>
        </div>
    </div>
</footer>

<!--start modal-->
<!--最新消息-->
<div class="modal fade" id="newsList" tabindex="-1" role="dialog"
     aria-labelledby="newsListLable" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newsListLable">最新消息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-ui table-striped">
                    <tr>
                        <th>重要性</th>
                        <th>日期</th>
                        <th>事項</th>
                    </tr>
                </table>
                <label></label>
            </div>
        </div>
    </div>
</div>
<!--End modal-->
<!--待辦事項-->
<div class="modal fade" id="toDoList" tabindex="-1" role="dialog"
     aria-labelledby="toDoListLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="toDoListLabel">待辦事項</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-ui table-striped">
                    <tr>
                        <th>日期</th>
                        <th>事項</th>
                        <th>功能</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--End modal-->
<!--下載專區-->
<div class="modal fade" id="downloadList" tabindex="-1" role="dialog"
     aria-labelledby="downloadListLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadListLabel">下載專區</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-ui table-striped">
                    <tr>
                        <th>日期</th>
                        <th>檔案</th>
                        <th>說明</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--End modal-->
<!-- Loading -->
<div class="loading-mask" style="display:none;"></div>
<!--End modal-->