﻿@*<%@ page language="Java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
    <%@ page language="Java" session="false"%>
    <%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
    <%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>*@

<header class="header">
    <div class="main-cont cont-wid">
        <nav class="navbar navbar-expand-md navbar-dark p-0 h-100">
            <a class="navbar-brand p-0 h-100" href="${appUrl.sys}">
                <span class="logo">
                    @*<img src="${basePath}${logoUri}" alt="回首頁">*@
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-3 justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <button class="nav-item nav-link btn-icon d-none d-md-block d-sm-none news-btn"
                            title="最新消息" data-toggle="modal" onclick="getNewsList()" data-target="#newsList">
                        @*<img class="" src="${basePath}/webjars/b2b-common/images/header/icon_news.png" alt="最新消息">*@
                    </button>
                    <!--btn-icon-sign:未讀則數 可用.d-none隱藏顯示-->
                    <button class="nav-item nav-link btn-icon d-none d-md-block d-sm-none todo-btn"
                            title="待辦事項" data-toggle="modal" onclick="getToDoList()" data-target="#toDoList">
                        @*<img class="" src="${basePath}/webjars/b2b-common/images/header/icon_todolist.png" alt="待辦事項">*@
                    </button>
                    <button class="nav-item nav-link btn-icon d-none d-md-block d-sm-none download-btn"
                            title="下載專區" data-toggle="modal" onclick="getDownloadList()" data-target="#downloadList">
                        @*<img class="" src="${basePath}/webjars/b2b-common/images/header/icon_download.png" alt="下載專區">*@
                    </button>
                    @*<c:if test="${b2bUser.operator}">
                        <a class="nav-item nav-link" href="${appUrl.sys}/insClass/sys" id="" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            系統維運
                        </a>
                    </c:if>*@
                    <a class="nav-item nav-link" href="/sys/resetPasswd" id="" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-key  d-md-none d-sm-block" aria-hidden="true"></i>
                        重設密碼
                    </a>
                    <a class="nav-item nav-link d-md-none d-sm-block" onclick="logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> 登出
                    </a>
                </div>
            </div>

            <div class="user-info float-right d-none d-md-block d-sm-none">
                <div class="signin-info float-left align-right">
                    <!--登入後user資訊-->
                    @*<span class="user-name">${fn:escapeXml(b2bUser.userName)}</span> <span class="user-organization">${fn:escapeXml(b2bUser.channelName)}</span>*@
                </div>
                <button class="signout float-right btn-icon" onclick="logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
                <!--登出按鈕-->
                <label class="singout-info d-none">請登入</label>
                <!--登入前提示文字-->
                <button class="signin d-none">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
                <!--登入按鈕-->
            </div>
        </nav>
        <!--系統維運次選單-->
        <div class="submenu dropdown-menu" id="systemSetting" aria-labelledby="">
            <div class="main-cont cont-wid py-4">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</header>