﻿<script type="text/javascript">
    //init variable
    //this.dateFormatPattern1 = '${dateFormatPattern[1]}';
    //this.dateFormatPattern3 = '${dateFormatPattern[3]}';
    this.dateFormatPattern1 = 'YYYY-MM-DD';
    this.dateFormatPattern3 = 'YYYY-MM-DD HH:mm:ss';
    //this.basePath = '${basePath}';
    //this.appUrl = {
    //    sys: '${appUrl.sys}'
    //};
    /////
    //$(document).ready(function () {
    //    if ('${fn:escapeXml(b2bUser.loggedIn ? "1" : "")}'.length == 0) {
    //        return;
    //    }
    //    b2bAjaxCall({
    //        type: 'GET',
    //        url: '${appUrl.sys}/api/homes/newsQty',
    //        success: function (result) {
    //            $('button.news-btn').append('<span class="btn-icon-sign">' + result.data + '</span>');
    //        },
    //        error: function (error) {
    //            alert(error.msg);
    //        }
    //    });
    //    b2bAjaxCall({
    //        type: 'GET',
    //        url: '${appUrl.sys}/api/homes/downloadQty',
    //        success: function (result) {
    //            $('button.download-btn').append('<span class="btn-icon-sign">' + result.data + '</span>');
    //        },
    //        error: function (error) {
    //            alert(error.msg);
    //        }
    //    });
    //    b2bAjaxCall({
    //        type: 'GET',
    //        url: '${appUrl.sys}/api/homes/toDoQty',
    //        success: function (result) {
    //            $('button.todo-btn').append('<span class="btn-icon-sign">' + result.data + '</span>');
    //        },
    //        error: function (error) {
    //            alert(error.msg);
    //        }
    //    });
    //    //bread crumbs leave confirm
    //    $('.breadcrumb-item a').click(function (event) {
    //        if (!confirm('確定離開?')) {
    //            event.preventDefault();
    //        }
    //    });
    //});
    //handler locale
    $().__proto__.datetimepickerOrigin = $().__proto__.datetimepicker;
    $().__proto__.datetimepicker = function (a, b) {
        if ('object' == typeof a) {
            var setting = Object.assign({
                locale: 'zh-tw'
            }, a);
            this.datetimepickerOrigin(setting, b);
        } else
            this.datetimepickerOrigin(a, b);
    }
    //init datetimepicker1
    $(".datetimepicker1").each(function (index, item) {
        var item = $(item);
        var children = item.children("input");
        var value = children.prop("value");
        item.datetimepicker({
            format: dateFormatPattern1
        });
        if (value)
            children.prop("value", moment(value).format(dateFormatPattern1));
    });
    //init datetimepicker3
    $(".datetimepicker3").each(function (index, item) {
        var item = $(item);
        var children = item.children("input");
        var value = children.prop("value");
        item.datetimepicker({
            format: dateFormatPattern3
        });
        if (value)
            children.prop("value", moment(value).format(dateFormatPattern3));
    });
    ////
    //function logout() {
    //    b2bAjaxCall({
    //        type: 'POST',
    //        url: '${appUrl.sys}/api/logout',
    //        success: function (result) {
    //            window.location.href = "${appUrl.sys}/login";
    //        },
    //        error: function (error) {
    //            alert(error.msg);
    //        }
    //    });
    //}
    ////
    //function getDownloadList() {
    //    var downloadList = $("#downloadList table tbody");
    //    if (downloadList.children("tr").length > 1) {
    //        return;
    //    }
    //    b2bAjaxCall({
    //        type: 'GET',
    //        url: '${appUrl.sys}/downloadList',
    //        dataType: 'html',
    //        success: function (tbody) {
    //            downloadList.append(tbody);
    //        },
    //        error: function (error) {
    //            alert(error.msg);
    //        }
    //    });
    //}
    ////
    //function getNewsList() {
    //    var newsList = $("#newsList table tbody");
    //    if (newsList.children("tr").length > 1) {
    //        return;
    //    }
    //    b2bAjaxCall({
    //        type: 'GET',
    //        url: '${appUrl.sys}/newsList',
    //        dataType: 'html',
    //        success: function (tbody) {
    //            newsList.append(tbody);
    //        },
    //        error: function (error) {
    //            alert(error.msg);
    //        }
    //    });
    //}
    ////
    //function getNewsContent(element) {
    //    var newsContent = $(element).parent().find('td[name=newsContent]').text();
    //    $("#newsList label").text(newsContent);
    //}
    ////
    //function getToDoList() {
    //    var toDoList = $("#toDoList table tbody");
    //    if (toDoList.children("tr").length > 1) {
    //        return;
    //    }
    //    b2bAjaxCall({
    //        type: 'GET',
    //        url: '${appUrl.sys}/toDoList',
    //        dataType: 'html',
    //        success: function (tbody) {
    //            toDoList.append(tbody);
    //        },
    //        error: function (error) {
    //            alert(error.msg);
    //        }
    //    });
    //}
    ////handler onclick
    //var proto = $('').__proto__
    //proto.clickOrigin = proto.click
    //proto.click = function (func) {
    //    var onclick = function (e) {
    //        func(e);
    //    };
    //    this.clickOrigin(onclick);
    //}
</script>