/*RWD*/
$PC          : 1280px;
$pad         : 1024px;
$pad-md      : 960px;
$pad-sm      : 768px;
$pad-max-sm  : 767px;
$mobile      : 460px;
$mobile-xs   : 374px;
$wid-100p    : 100%;
/*padding/margin setting*/
$padding-md     : 15px;
$padding-normal : 10px;
$padding-sm     : 5px;
$margin-normal  : 10px;
$margin-sm      : 5px;

@import "partials/_variables.scss";

/****pc****/
html,body{
    height: 100%;
}
/*中間主要內容*/
.index-main-color{
    background-color: $bg-index;
}
.container-mid{
    height: calc(100vh - 150px);
}

.container-mid,.page-mid{
    .index-main-section{
        height: calc(100% - 240px);
        overflow: hidden;

        /*按鈕*/
        .btn-lg-style{
            .btn-box{
                display: inline-block;
                width: calc(50% - 20px);
                height: calc(50% - 20px);
                margin: 10px;
                border-radius: 5px;
                color: $font-color-w;
            }
            .btn-img-rwd-height{
                position: relative;
                height: calc(100% - 40px);
                border-radius: 5px 5px 0 0;
                overflow: hidden;
                justify-content: center;
            }
            .btn-lg-title{
                height: 40px;
                line-height: 40px;
            }
        }
        .btn-icon-box{
            float: none;
            display: inline-flex;
            margin: 10px;

        }
        .slick-slide{
            height: 100%;
            div:first-child{
                height: 100%;
                text-align: left;
            }
        }
        .btn-md-style{
            .btn-icon-box{
                &.proj{
                    background: $bg-btn-proj;
                }
                width: calc(50% - 24px);
                height: calc(50% - 20px);
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .box-icon-pic{
                    width: 46px;
                    height: 40px;
                }
                .btn-icon-box-name{
                    height: auto;
                    min-height: 3em;
                    word-break: break-all;
                    width: 90%;
                    font-size: $font-cont;
                }
            }
        }
        
    }

    .main-section{
        float: left;
        height: 100%;
        .main-section-title{
            position: relative;
            margin-bottom: 6px;
            color: $font-color-main;
            font-size: $font-subtitle;
            text-align: center;
            &:after{
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: -8px;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: $bg-head;
            }
        }
        .main-section-box{
            height: calc(100% - 40px);
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .slick-track,.slider{
                height: 100%;
            }
        }
        /*險種專區*/
        &.main-section-insurance{
            margin-right: 20px;
            width: calc(65% - 20px);
        }
        /*專案專區*/
        &.main-section-proj{
            width: 35%;
        }
    }
    .sub-section{
        height: 240px;
        overflow: hidden;
    }
    .sub-section-title{
        padding-left: 20px;
        position: relative;
        color: $font-color-main;
        font-size: $font-subtitle;
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            left: 10px;
            top: 0;
            width: 4px;;
            height: 24px;
            border-radius: 4px;
            background-color: $bg-head;
        }
    }

}
.page-mid{
    min-height: calc(100vh - 140px);
    height: auto;
    .main-section{
        float: none;
    }
}
/*按鈕顏色*/
.slick-prev{
    left: -10px;
    &:before{
        content: "\f104";
        font-family: FontAwesome;
        color: $font-page-btn;
    }
}
.slick-next{
    right: -10px;
    &:before{
        content: "\f105";
        font-family: FontAwesome;
        color: $font-page-btn;
    }
}
/*旅平*/
.type-travel{
    background: $bg-travel !important;
    .btn-img-rwd-height{
        background-image: url('../images/btn-image/Insurance01.png');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
    }
}

/*責任*/
.type-travel-liability{
    background: $bg-liability !important;
    .btn-img-rwd-height{
        background-image: url('../images/btn-image/Insurance02.png');
        background-size: cover;
        background-position: center;
    }
}

/*住火*/
.type-fire{
    background: $bg-fire !important;
    .btn-img-rwd-height{
        background-image: url('../images/btn-image/Insurance03.png');
        background-size: cover;
        background-position: center;
    }
}
/*汽車*/
.type-car{
    background: $bg-car !important;
    .btn-img-rwd-height{
        background-image: url('../images/btn-image/Insurance04.png');
        background-size: cover;
        background-position: center;
    }
}
/*內頁功能分類顏色*/
.item-type{
    &1{
        .btn-icon-box{
            background: $bg-car !important;
        }
    }
    &2{
        .btn-icon-box{
            background: $bg-fire !important;
        }
    }
    &3{
        .btn-icon-box{
            background: $bg-liability !important;
        }
    }
    &4{
        .btn-icon-box{
            background: $bg-travel !important;
        }
    }
}

.modal-title{
    color: $font-page-btn;
    font-weight: 600;
}
ul{
    padding-left: 0;
    .list{
        display: flex;
        flex-direction: row;
        &-download{
            position: relative;
            padding-left:1.5em;
            &::before{
                position: absolute;
                left: 0;
                content: "\f019";
                font-family: FontAwesome;
                color: $font-page-btn;
            }
        }
        .date{
            width: 6em;
            color: $font-color-bread-c;
        }
        .list-cont{
            width: calc(100% - 6em);
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
        }
    }
}


/*常用功能*/
.tool-item{
    .btn-icon-box{
        width: 112px;
        height: 112px;
        margin:2px;
    }
    .box-icon-pic{
        width:33px;
        height: 38px;
        margin: 0 auto;
    }
}
/*page 內頁*/
.item-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom:20px;
    .item-title{
        color: $font-color-main;
        font-size: $font-subtitle;
        width: 6em;
        padding-top: 48px;
    }
    .item-cont{
        width: calc(100% - 8em);
        text-align: left;
    }
}

/****RWD****/
/*min-wid 1024 max-height 768*/
@media screen and (min-width:$pad)and(max-height:$pad-sm){
    .container-mid .index-main-section{
        .btn-lg-style{
            .btn-img-rwd-height{
                width: 45%;
                height: 100%;
            }
            .box-icon-pic{
                display: inline-block;
                margin-right: 10px;
            }
            .btn-box{
                display: inline-flex;
                justify-content: left;
                align-items: center;
                
            }
            .btn-lg-title{
                padding: 0 10px;
            }
        }
        .btn-md-style{
            .btn-icon-box{
                flex-direction: row;
                flex-wrap: nowrap;
                .box-icon-pic{
                    margin: 0 10px;
                    width: 25%;
                    height: auto;
                }
                .btn-icon-box-name{
                    text-align: left;
                    margin-right: 10px;
                }
            }
        }
    }
    .type-car{
        .btn-img-rwd-height{    
            background-position: -10px center;
        }
    }
}
/*min-wid 960 max-height 768*/
@media screen and (max-width:$pad-md) and(min-width:$pad-sm) and(max-height:$pad-sm){
    .container-mid .index-main-section{
        height: 60%;
    }
    .container-mid .sub-section{
        height: 40%;
    }
    .container-mid .main-section.main-section-insurance{
        width: calc(55% - 20px);
    }
    .container-mid .main-section.main-section-proj{
        width:45%;
    }
    .container-mid .index-main-section .btn-md-style .btn-icon-box .box-icon-pic{
        width: auto;
        height: 26%;
    }
}
/*max-width 767px*/
@media screen and (max-width:$pad-max-sm){
    .container-mid .index-main-section .slick-slide div:first-child, .page-mid .index-main-section .slick-slide div:first-child{
        display: flex !important;
    }
    .container-mid{
        height:auto;
    }
    .container-mid .index-main-section {
        height: auto;
        overflow: auto;
        .main-section-box{
            padding-top:10px;
        }
        .main-section.main-section-insurance,
        .main-section.main-section-proj{
            width:100%;
            height: auto;
            margin-bottom: 20px;
            padding: 0 5px;
        }
    }
    
    .container-mid .index-main-section{
        
        .btn-lg-style{
            .btn-img-rwd-height{
                display: none;
            }
            .box-icon-pic{
                display: inline-block;
                margin-right:10px;
                width: 2em;
                height: auto;
            }
            .btn-box{
                display: inline-flex;
                justify-content: left;
                min-height: 4em;
                height: auto;
                align-items: center;
                padding-left: 2%;
                margin: 5px;
                width: calc(50% - 10px);
            }
            .btn-lg-title{
                height: auto;
                line-height: inherit;
                width: 100%;
                display: flex;
                padding: 10px 0;
                align-items: center;
            }
            .d-sm-vertical{
                text-align: left;
                padding-right: 5px;
            }
        }
        .btn-md-style{
            .btn-icon-box{
                min-height:4em;
                height: auto;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                padding: 10px 0;
                margin: 5px;
                flex: 0 0 calc(50% - 10px);
                .box-icon-pic{
                    margin: 0 10px;
                    width: 2em;
                    height: auto;
                }
                .btn-icon-box-name{
                    text-align: left;
                    margin-right: 10px;
                    height: auto;
                }
            }
        }
    }
    
    .btn-icon-box,.tool-item .btn-icon-box{
        width: calc(50% - 7px);
        height: auto;
        min-height:4em;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px 0;
        margin: 5px 2px;
        .fa{
            margin: 0 10px;
        }
        .btn-icon-box-name{
            width: calc(100% - 2.5em);
            text-align: left;
            margin-right: 10px;
            height: auto;
        }
    }

    
    .container-mid .sub-section{
        height: auto;
    }
    .rwd-width{
        padding: 0 20px;
    }
    /*常用功能*/
    .tool-item{
        .box-icon-pic{
            margin: 0 10px;
        }
    }

    /*內頁*/
    .item-group{
        .item-title{
            width: 100%;
            padding-top: 0;
        }
        .item-cont{
            width: 100%;
        }
    }
}

@import "partials/_rwd.scss";