﻿@charset "UTF-8";
/*RWD*/
/*padding/margin setting*/
/*字體*/
/*字體顏色*/
/*字級大小*/
/*背景顏色*/
/*border*/
/*table*/
/****pc****/
html, body {
  height: 100%; }

/*中間主要內容*/
.index-main-color {
  background-color: #E5F2EA; }

.container-mid {
  height: calc(100vh - 150px); }

.container-mid .index-main-section, .page-mid .index-main-section {
  height: calc(100% - 240px);
  overflow: hidden;
  /*按鈕*/ }
  .container-mid .index-main-section .btn-lg-style .btn-box, .page-mid .index-main-section .btn-lg-style .btn-box {
    display: inline-block;
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    border-radius: 5px;
    color: #FFF; }
  .container-mid .index-main-section .btn-lg-style .btn-img-rwd-height, .page-mid .index-main-section .btn-lg-style .btn-img-rwd-height {
    position: relative;
    height: calc(100% - 40px);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    justify-content: center; }
  .container-mid .index-main-section .btn-lg-style .btn-lg-title, .page-mid .index-main-section .btn-lg-style .btn-lg-title {
    height: 40px;
    line-height: 40px; }
  .container-mid .index-main-section .btn-icon-box, .page-mid .index-main-section .btn-icon-box {
    float: none;
    display: inline-flex;
    margin: 10px; }
  .container-mid .index-main-section .slick-slide, .page-mid .index-main-section .slick-slide {
    height: 100%; }
    .container-mid .index-main-section .slick-slide div:first-child, .page-mid .index-main-section .slick-slide div:first-child {
      height: 100%;
      text-align: left; }
  .container-mid .index-main-section .btn-md-style .btn-icon-box, .page-mid .index-main-section .btn-md-style .btn-icon-box {
    width: calc(50% - 24px);
    height: calc(50% - 20px);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .container-mid .index-main-section .btn-md-style .btn-icon-box.proj, .page-mid .index-main-section .btn-md-style .btn-icon-box.proj {
      background: #3DBAB8; }
    .container-mid .index-main-section .btn-md-style .btn-icon-box .box-icon-pic, .page-mid .index-main-section .btn-md-style .btn-icon-box .box-icon-pic {
      width: 46px;
      height: 40px; }
    .container-mid .index-main-section .btn-md-style .btn-icon-box .btn-icon-box-name, .page-mid .index-main-section .btn-md-style .btn-icon-box .btn-icon-box-name {
      height: auto;
      min-height: 3em;
      word-break: break-all;
      width: 90%;
      font-size: 16px; }

.container-mid .main-section, .page-mid .main-section {
  float: left;
  height: 100%;
  /*險種專區*/
  /*專案專區*/ }
  .container-mid .main-section .main-section-title, .page-mid .main-section .main-section-title {
    position: relative;
    margin-bottom: 6px;
    color: #007D7D;
    font-size: 20px;
    text-align: center; }
    .container-mid .main-section .main-section-title:after, .page-mid .main-section .main-section-title:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #007D7D; }
  .container-mid .main-section .main-section-box, .page-mid .main-section .main-section-box {
    height: calc(100% - 40px);
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .container-mid .main-section .main-section-box .slick-track, .container-mid .main-section .main-section-box .slider, .page-mid .main-section .main-section-box .slick-track, .page-mid .main-section .main-section-box .slider {
      height: 100%; }
  .container-mid .main-section.main-section-insurance, .page-mid .main-section.main-section-insurance {
    margin-right: 20px;
    width: calc(65% - 20px); }
  .container-mid .main-section.main-section-proj, .page-mid .main-section.main-section-proj {
    width: 35%; }

.container-mid .sub-section, .page-mid .sub-section {
  height: 240px;
  overflow: hidden; }

.container-mid .sub-section-title, .page-mid .sub-section-title {
  padding-left: 20px;
  position: relative;
  color: #007D7D;
  font-size: 20px; }
  .container-mid .sub-section-title:before, .page-mid .sub-section-title:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 0;
    width: 4px;
    height: 24px;
    border-radius: 4px;
    background-color: #007D7D; }

.page-mid {
  min-height: calc(100vh - 140px);
  height: auto; }
  .page-mid .main-section {
    float: none; }

/*按鈕顏色*/
.slick-prev {
  left: -10px; }
  .slick-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    color: #6D6D6D; }

.slick-next {
  right: -10px; }
  .slick-next:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #6D6D6D; }

/*旅平*/
.type-travel {
  background: #90B831 !important; }
  .type-travel .btn-img-rwd-height {
    background-image: url("../images/btn-image/Insurance01.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

/*責任*/
.type-travel-liability {
  background: #ECAB2E !important; }
  .type-travel-liability .btn-img-rwd-height {
    background-image: url("../images/btn-image/Insurance02.png");
    background-size: cover;
    background-position: center; }

/*住火*/
.type-fire {
  background: #F38181 !important; }
  .type-fire .btn-img-rwd-height {
    background-image: url("../images/btn-image/Insurance03.png");
    background-size: cover;
    background-position: center; }

/*汽車*/
.type-car {
  background: #6EC5E5 !important; }
  .type-car .btn-img-rwd-height {
    background-image: url("../images/btn-image/Insurance04.png");
    background-size: cover;
    background-position: center; }

/*內頁功能分類顏色*/
.item-type1 .btn-icon-box {
  background: #6EC5E5 !important; }

.item-type2 .btn-icon-box {
  background: #F38181 !important; }

.item-type3 .btn-icon-box {
  background: #ECAB2E !important; }

.item-type4 .btn-icon-box {
  background: #90B831 !important; }

.modal-title {
  color: #6D6D6D;
  font-weight: 600; }

ul {
  padding-left: 0; }
  ul .list {
    display: flex;
    flex-direction: row; }
    ul .list-download {
      position: relative;
      padding-left: 1.5em; }
      ul .list-download::before {
        position: absolute;
        left: 0;
        content: "\f019";
        font-family: FontAwesome;
        color: #6D6D6D; }
    ul .list .date {
      width: 6em;
      color: #888; }
    ul .list .list-cont {
      width: calc(100% - 6em);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

/*常用功能*/
.tool-item .btn-icon-box {
  width: 112px;
  height: 112px;
  margin: 2px; }

.tool-item .box-icon-pic {
  width: 33px;
  height: 38px;
  margin: 0 auto; }

/*page 內頁*/
.item-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 20px; }
  .item-group .item-title {
    color: #007D7D;
    font-size: 20px;
    width: 6em;
    padding-top: 48px; }
  .item-group .item-cont {
    width: calc(100% - 8em);
    text-align: left; }

/****RWD****/
/*min-wid 1024 max-height 768*/
@media screen and (min-width: 1024px) and (max-height: 768px) {
  .container-mid .index-main-section .btn-lg-style .btn-img-rwd-height {
    width: 45%;
    height: 100%; }
  .container-mid .index-main-section .btn-lg-style .box-icon-pic {
    display: inline-block;
    margin-right: 10px; }
  .container-mid .index-main-section .btn-lg-style .btn-box {
    display: inline-flex;
    justify-content: left;
    align-items: center; }
  .container-mid .index-main-section .btn-lg-style .btn-lg-title {
    padding: 0 10px; }
  .container-mid .index-main-section .btn-md-style .btn-icon-box {
    flex-direction: row;
    flex-wrap: nowrap; }
    .container-mid .index-main-section .btn-md-style .btn-icon-box .box-icon-pic {
      margin: 0 10px;
      width: 25%;
      height: auto; }
    .container-mid .index-main-section .btn-md-style .btn-icon-box .btn-icon-box-name {
      text-align: left;
      margin-right: 10px; }
  .type-car .btn-img-rwd-height {
    background-position: -10px center; } }

/*min-wid 960 max-height 768*/
@media screen and (max-width: 960px) and (min-width: 768px) and (max-height: 768px) {
  .container-mid .index-main-section {
    height: 60%; }
  .container-mid .sub-section {
    height: 40%; }
  .container-mid .main-section.main-section-insurance {
    width: calc(55% - 20px); }
  .container-mid .main-section.main-section-proj {
    width: 45%; }
  .container-mid .index-main-section .btn-md-style .btn-icon-box .box-icon-pic {
    width: auto;
    height: 26%; } }

/*max-width 767px*/
@media screen and (max-width: 767px) {
  .container-mid .index-main-section .slick-slide div:first-child, .page-mid .index-main-section .slick-slide div:first-child {
    display: flex !important; }
  .container-mid {
    height: auto; }
  .container-mid .index-main-section {
    height: auto;
    overflow: auto; }
    .container-mid .index-main-section .main-section-box {
      padding-top: 10px; }
    .container-mid .index-main-section .main-section.main-section-insurance,
    .container-mid .index-main-section .main-section.main-section-proj {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      padding: 0 5px; }
  .container-mid .index-main-section .btn-lg-style .btn-img-rwd-height {
    display: none; }
  .container-mid .index-main-section .btn-lg-style .box-icon-pic {
    display: inline-block;
    margin-right: 10px;
    width: 2em;
    height: auto; }
  .container-mid .index-main-section .btn-lg-style .btn-box {
    display: inline-flex;
    justify-content: left;
    min-height: 4em;
    height: auto;
    align-items: center;
    padding-left: 2%;
    margin: 5px;
    width: calc(50% - 10px); }
  .container-mid .index-main-section .btn-lg-style .btn-lg-title {
    height: auto;
    line-height: inherit;
    width: 100%;
    display: flex;
    padding: 10px 0;
    align-items: center; }
  .container-mid .index-main-section .btn-lg-style .d-sm-vertical {
    text-align: left;
    padding-right: 5px; }
  .container-mid .index-main-section .btn-md-style .btn-icon-box {
    min-height: 4em;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0;
    margin: 5px;
    flex: 0 0 calc(50% - 10px); }
    .container-mid .index-main-section .btn-md-style .btn-icon-box .box-icon-pic {
      margin: 0 10px;
      width: 2em;
      height: auto; }
    .container-mid .index-main-section .btn-md-style .btn-icon-box .btn-icon-box-name {
      text-align: left;
      margin-right: 10px;
      height: auto; }
  .btn-icon-box, .tool-item .btn-icon-box {
    width: calc(50% - 7px);
    height: auto;
    min-height: 4em;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0;
    margin: 5px 2px; }
    .btn-icon-box .fa, .tool-item .btn-icon-box .fa {
      margin: 0 10px; }
    .btn-icon-box .btn-icon-box-name, .tool-item .btn-icon-box .btn-icon-box-name {
      width: calc(100% - 2.5em);
      text-align: left;
      margin-right: 10px;
      height: auto; }
  .container-mid .sub-section {
    height: auto; }
  .rwd-width {
    padding: 0 20px; }
  /*常用功能*/
  .tool-item .box-icon-pic {
    margin: 0 10px; }
  /*內頁*/
  .item-group .item-title {
    width: 100%;
    padding-top: 0; }
  .item-group .item-cont {
    width: 100%; } }

/*RWD*/
/*padding/margin setting*/
@media screen and (min-width: 1280px) {
  .cont-wid {
    width: 1280px; } }

@media screen and (max-width: 1280px) and (min-width: 460px) {
  .cont-wid {
    width: 100%; }
  /*系統維運*/
  .submenu {
    width: 100% !important;
    left: 0 !important; } }

@media screen and (max-width: 960px) {
  .footer .footer-cont {
    padding: 5px 5%; } }

@media screen and (max-width: 767px) {
  .search-bar, .system-bar {
    padding: 15px; }
  .btn-wrap.btn-col-2 .btn {
    min-width: 120px;
    margin: 0.5em; }
  .navbar-collapse {
    background: #F5F5F5;
    z-index: 1000; }
  .navbar-dark .navbar-nav .nav-link {
    color: #007D7D; }
  /*系統維運*/
  .submenu {
    width: 100% !important;
    left: 0 !important; }
  .form-label {
    text-align: left; }
  /*button*/
  .btn-wrap.sm-center {
    text-align: center; }
  /*footer*/
  .footer {
    height: auto; }
    .footer .footer-box {
      justify-content: flex-end; }
      .footer .footer-box .footer-cont {
        flex: 0 0 100%; }
  /*input*/
  .input-date-text {
    padding-left: 15px; }
  /*最新消息按鈕列*/
  .modal-btn-section {
    display: flex !important;
    width: 100%;
    height: 50px;
    background: #F3F3F3;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .modal-btn-section .btn-icon {
      width: calc(100% / 3); }
      .modal-btn-section .btn-icon .btn-icon-sign {
        top: -4px;
        right: 38%; } }

@media screen and (max-width: 460px) {
  .cont-wid {
    width: 100%;
    padding: 0 5px; } }
