﻿@charset "UTF-8";
/*字體*/
/*字體顏色*/
/*字級大小*/
/*背景顏色*/
/*border*/
/*table*/
/* padding margin setting*/
/*字體*/
body {
  font-family: Arial, Helvetica, sans-serif, "微軟正黑體"; }

/*index*/
.main-title, .section-main-title {
  position: relative;
  padding: 0;
  color: #007D7D;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .main-title.close-style:after, .section-main-title.close-style:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #007D7D;
    bottom: -0.61rem;
    left: 0; }

/*header*/
.user-info {
  color: #FFF;
  font-size: 14px; }

.navbar-dark .navbar-nav .nav-link {
  color: #FFF; }

/*content*/
.sub-title {
  color: #007D7D;
  font-size: 20px;
  font-weight: 500; }

.form-label {
  color: #222;
  font-size: 16px;
  text-align: right; }
  .form-label.required {
    position: relative; }
    .form-label.required::before {
      content: '*';
      position: absolute;
      top: -2px;
      right: 0.5em;
      color: #E60012; }

.section-text {
  color: #222;
  font-size: 16px;
  font-weight: normal; }

.text-highlight {
  color: #007D7D; }

/*error*/
.with-errors {
  color: #E60012; }

/*breadecrumb*/
.bread-c {
  color: #888;
  font-size: 16px; }

/*button*/
/*color*/
/*size*/
/*margin*/
/*padding*/
a:hover {
  text-decoration: none; }

button {
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none;
  border: none;
  outline: transparent; }

.signout, .signin {
  color: #FFF;
  background: transparent;
  font-size: 20px;
  line-height: 2em; }

/* navbar */
/* 最新消息/下載專區/待辦事項 */
.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFF;
  background: rgba(0, 0, 0, 0.1); }

.btn-icon {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: transparent; }
  .btn-icon:hover {
    background: rgba(0, 0, 0, 0.1); }
  .btn-icon .btn-icon-sign {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #F38181;
    border-radius: 50%;
    color: #FFF;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    top: -5px;
    right: -2px; }

/*常用按鈕*/
.btn-wrap {
  margin: 20px 0; }
  .btn-wrap.btn-col-2 .btn {
    margin-right: 1.5em; }
    .btn-wrap.btn-col-2 .btn:last-child {
      margin-right: 0; }

.btn {
  min-width: 140px;
  padding: 0.5rem;
  height: 40px;
  border: 1px solid;
  border-radius: 20px; }
  .btn.btn-default {
    background: #FAFAFA;
    border-color: #00A19E;
    color: #007D7D; }
  .btn.btn-primary {
    background: #007D7D;
    border-color: #006C68;
    color: #FFF; }
  .btn .fa {
    margin-right: 5px; }

.page-item {
  margin: 0 5px; }
  .page-item .page-link {
    height: 40px;
    border-radius: 10px !important;
    color: #6D6D6D; }
    .page-item .page-link.active {
      border-color: #00A19E;
      color: #00A19E; }
  .page-item:first-child {
    margin-right: 20px; }
    .page-item:first-child .page-link {
      border-radius: 20px !important;
      padding: 0.5rem 1.5rem; }
  .page-item:last-child {
    margin-left: 20px; }
    .page-item:last-child .page-link {
      border-radius: 20px !important;
      padding: 0.5rem 1.5rem; }

/*按鈕顏色分配*/
.btn-icon-box {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
  width: 126px;
  height: 126px;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  justify-content: center; }
  .btn-icon-box:nth-child(4n+1) {
    background: #6EC5E5; }
  .btn-icon-box:nth-child(4n+2) {
    background: #F38181; }
  .btn-icon-box:nth-child(4n+3) {
    background: #90B831; }
  .btn-icon-box:nth-child(4n+4) {
    background: #ECAB2E; }
  .btn-icon-box:hover {
    filter: brightness(105%);
    color: #FFF; }
  .btn-icon-box i {
    font-size: 2.5em;
    height: 1.6em;
    line-height: 1.8em; }
  .btn-icon-box .btn-icon-box-name {
    width: 6em;
    height: calc(100% - 4.5em);
    margin: 5px auto 0;
    line-height: 22px; }

.bootstrap-datetimepicker-widget .btn {
  width: 54px;
  min-width: initial;
  height: 54px;
  padding: 5px;
  border: 0;
  border-radius: 5px; }

.bootstrap-datetimepicker-widget .btn-primary {
  padding: 6px;
  width: auto;
  height: auto; }

/***表單按鈕***/
.form-btn {
  min-width: 4em;
  padding: 2px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px; }

.btn-danger {
  background-color: #f05f5f !important;
  border-color: #F38181 !important; }

.toggle-btn {
  background-color: transparent;
  color: #007D7D; }

.flex-row .btn {
  flex: 0 0 25%; }

/*寬度/高度 setting*/
/*sidebar 寬度*/
/*header 高度*/
/*padding/margin setting*/
/*radius setting*/
/*layout*/
html {
  background: #F5F5F5;
  height: 100%; }

body {
  overflow-x: hidden;
  height: 100%; }

.container-fuild {
  background: #F5F5F5;
  min-height: calc(100% - 150px);
  height: auto; }

.cont-wid {
  padding: 0 10px;
  height: 100%; }

/**** header ****/
.header {
  background: #007D7D;
  color: #FFF;
  height: 60px;
  /* logo */ }
  .header .logo {
    display: inline-block;
    height: 100%;
    padding: 5px; }
    .header .logo img {
      height: 100%; }

#systemSetting:checked ~ .systemSetting {
  display: block; }

.user-info {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  background: #00A19E;
  margin: 5px 0; }
  .user-info .user-name, .user-info .user-organization {
    display: block;
    text-align: right;
    padding: 0 10px;
    font-size: 14px; }

/*系統維運*/
.submenu {
  display: none;
  width: 100%;
  top: 60px;
  left: 0;
  background: #FFF;
  margin: 0; }
  .submenu .nav-link {
    color: #007D7D;
    width: 100%;
    border-radius: 4px; }

/*breadcrumb*/
.breadcrumb-wrap {
  padding-left: 0;
  background: #FFF; }
  .breadcrumb-wrap .breadcrumb {
    background: transparent; }
    .breadcrumb-wrap .breadcrumb .breadcrumb-item {
      color: #888; }

/*content*/
.main-cont {
  margin: 0 auto; }

.section {
  margin-bottom: 50px; }

.search-bar, .system-bar {
  padding: 30px 30px;
  background: #FFF;
  border-top: 2px solid #007D7D;
  border-radius: 0 0 10px 10px; }

.modal-btn-section {
  display: none; }

/*error bg setting*/
.error-input {
  background-color: rgba(240, 95, 95, 0.08); }

/*table*/
.table-ui th {
  background: #00A19E;
  color: #FFF;
  font-weight: normal;
  border: 0; }
  .table-ui th:first-child {
    border-radius: 10px 0 0 0; }
  .table-ui th:last-child {
    border-radius: 0 10px 0 0; }
  .table-ui th a {
    color: #FFF !important; }

.table-ui tr:last-child td:first-child {
  border-radius: 0 0 0 10px; }

.table-ui tr:last-child td:last-child {
  border-radius: 0 0 10px 0; }

.table-ui.table-striped tbody tr:nth-of-type(odd) {
  background: #EEE; }

/*footer*/
.footer {
  height: 90px;
  background: #E4E4E4; }
  .footer .footer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .footer .footer-box .footer-cont {
      flex: 0 0 60%; }
      .footer .footer-box .footer-cont p {
        margin-bottom: 5px; }
        .footer .footer-box .footer-cont p:last-child {
          margin-bottom: 0; }
    .footer .footer-box .SSL-logo {
      height: 75px;
      width: 134px;
      margin-top: 8px; }

@media (max-width: 767.98px) {
  .table-responsive-md .table th {
    white-space: nowrap; } }

@media (max-width: 575.98px) {
  .table-responsive-sm .table th {
    white-space: nowrap; } }

/*RWD*/
/*padding/margin setting*/
@media screen and (min-width: 1280px) {
  .cont-wid {
    width: 1280px; } }

@media screen and (max-width: 1280px) and (min-width: 460px) {
  .cont-wid {
    width: 100%; }
  /*系統維運*/
  .submenu {
    width: 100% !important;
    left: 0 !important; } }

@media screen and (max-width: 960px) {
  .footer .footer-cont {
    padding: 5px 5%; } }

@media screen and (max-width: 767px) {
  .search-bar, .system-bar {
    padding: 15px; }
  .btn-wrap.btn-col-2 .btn {
    min-width: 120px;
    margin: 0.5em; }
  .navbar-collapse {
    background: #F5F5F5;
    z-index: 1000; }
  .navbar-dark .navbar-nav .nav-link {
    color: #007D7D; }
  /*系統維運*/
  .submenu {
    width: 100% !important;
    left: 0 !important; }
  .form-label {
    text-align: left; }
  /*button*/
  .btn-wrap.sm-center {
    text-align: center; }
  /*footer*/
  .footer {
    height: auto; }
    .footer .footer-box {
      justify-content: flex-end; }
      .footer .footer-box .footer-cont {
        flex: 0 0 100%; }
  /*input*/
  .input-date-text {
    padding-left: 15px; }
  /*最新消息按鈕列*/
  .modal-btn-section {
    display: flex !important;
    width: 100%;
    height: 50px;
    background: #F3F3F3;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .modal-btn-section .btn-icon {
      width: calc(100% / 3); }
      .modal-btn-section .btn-icon .btn-icon-sign {
        top: -4px;
        right: 38%; } }

@media screen and (max-width: 460px) {
  .cont-wid {
    width: 100%;
    padding: 0 5px; } }
