@import "partials/_variables.scss";
@import "partials/_font.scss";
@import "partials/_tab.scss";
@import "partials/_list.scss";
@import "partials/_button.scss";
/*寬度/高度 setting*/
$sidebar-wid    : 200px;/*sidebar 寬度*/
$head-height    : 60px;/*header 高度*/
$height-100p    : 100%;
$width-100p     : 100%;
/*padding/margin setting*/
$padding-normal : 10px;
$padding-lg     : 30px;
$padding-sm     : 5px;
$margin-normal  : 10px;
$margin-lg      : 50px;
$margin-sm      : 5px;
$margin-xs      : 3px;
/*radius setting*/
$radius-lg      : 10px;
$radius-sm      : 4px;
/*layout*/
html{
    background: $bg-be;
    height: 100%;
}
body{
    overflow-x: hidden;
    height: 100%;
}
.container-fuild{
    background: $bg-be;
    min-height: calc(100% - 150px);
    height: auto;
}
.cont-wid{
    padding: 0 $padding-normal;
    height: $height-100p;
}
/**** header ****/
.header{
    background: $bg-head;
    color: $font-color-w;
    height: $head-height;
    /* logo */
    .logo{
        display: inline-block;
        height: $height-100p;
        padding: $padding-sm;
        
        img{
            height: $height-100p;
        }
    }
}
#systemSetting:checked{
    & ~.systemSetting{
        display: block;
    }
}
.user-info{
    display: inline-block;
    padding: $padding-sm $padding-normal;
    border-radius: 30px;
    background: $bg-info;
    margin: $margin-sm 0;

    .user-name,.user-organization{
        display: block;
        text-align: right;
        padding: 0 $padding-normal;
        font-size: $font-small;
    }
}
/*系統維運*/
.submenu{
    display: none; 
    width: $width-100p;
    top: $head-height;
    left: 0;
    background: $bg-w;
    margin: 0;
    .nav-link{
        color: $font-color-main;
        width: 100%;
        border-radius: $radius-sm;
    }
}
/*breadcrumb*/
.breadcrumb-wrap{
    padding-left: 0;
    background: $bg-w;
    .breadcrumb{
        background: transparent;
        .breadcrumb-item{
            color: $font-color-bread-c;
        }
    }
}
/*content*/
.main-cont{
    margin: 0 auto;
}
.section{
    margin-bottom: $margin-lg;
}
.search-bar,.system-bar{
    padding: $padding-lg $padding-lg;
    background: $bg-w;
    border-top: 2px solid $bg-head;
    border-radius: 0 0 $radius-lg $radius-lg;
}

.modal-btn-section{
    display: none;
}
/*error bg setting*/
.error-input{
    background-color: $bg-error;
}
/*table*/
.table{
}
.table-ui{
    th{
       background: $thead;
       color: $font-color-w;
       font-weight: normal;
       border: 0;
       &:first-child{
           border-radius: $radius-lg 0 0 0;
       } 
       &:last-child{
           border-radius: 0 $radius-lg 0 0;
       }
       a{
           color: $font-color-w !important;
       }
    }
    tr:last-child{
        td:first-child{
            border-radius: 0 0 0 $radius-lg;
        }
        td:last-child{
            border-radius: 0 0 $radius-lg 0;
        }
    }
    &.table-striped tbody tr:nth-of-type(odd){
        background: $table-striped;
    }
}
/*footer*/

.footer{
    height: 90px;
    background: $bg-footer;
    .footer-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .footer-cont{
            flex: 0 0 60%;
            p{
                margin-bottom: 5px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .SSL-logo{
            height: 75px;
            width: 134px;
            margin-top: 8px;
        }
    }
}

@import "partials/_table.scss";
@import "partials/_rwd.scss";