.loading-mask {
    position: fixed;
    top: 0px;
   	left: 0px;
   	width: 100%;
   	height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 9999;
}

.loading-mask::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.loading-mask::after {
	content: "";
	position: absolute;
	border-width: 7px;
	border-style: solid;
	border-color: transparent #FFF #FFF;
	border-radius: 50%;
	width: 46px;
	height: 46px;
	top: calc(50% - 23px);
	left: calc(50% - 23px);
	-webkit-animation: spin .75s linear infinite;
	animation: spin .75s linear infinite;
}