*,h1,h2,h3,h4,h5{
    font-family: Arial, Helvetica, sans-serif,'微軟正黑體';
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #007d7d;
}
.contain{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
}
.container .d-inline-flex{
    width:100%;
}
.center-block{
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.login-block,
.forget-block,
.change-block{
    padding:15px 0;
    max-width: 640px;
    width:100%;
    height: auto;
}
.login-img{
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    height: 315px;
}
.login-img img{
    height: 100%;
}
h1{
    position: relative;
    margin: 0 0 15px 0;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

h1 img{
    max-width:240px;
    width: calc(100% - 5em - 10px);
    min-height: auto;
    margin-left: 25px;
}
h1 span{
    margin: 0 0 0 10px;
    vertical-align: bottom;
}
label{
    font-size: 18px;
    color: #fff;
    font-weight: initial;
}
label.control-label{
    text-align: right;
}
input[type=text],
input[type=password]{
    font-size: 16px;
}
.form-control::placeholder,
.form-control:-ms-input-placeholder{
    color: #888;
}
.form-control{
    border-color:#d5d5d5; 
}
a.forget,
a.regist{
    color:#64dad8;
    font-size: 16px;
}
a.forget{
    margin-right: 45px;
}
a.refresh{
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 26px;
    color: #003534;
}
.btn-wrap{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.form-group-all{
    margin: 0 15px;
}
/*** 按鈕 ***/
.btn-lg{
    font-size: 20px;
    font-weight: bold;
}
button.submit{
    background: #004443;
    color: #fff;
    width: 126px;
    border: 1px solid #00a19e;
}
button.submit:hover{
    background: #004443;
    border: 1px solid #00a19e;
}
button.cancel{
    width: 126px;
    border: 1px solid #64dad8;
    background: #64dad8;
    background: #4ea4a4;
    color: #fff;
    border: 1px solid #086f6d;
    margin-right: 20px;
}
button.cancel:hover,
.btn-default.cancel:hover,
.btn-default.cancel:focus{
    background: #4ea4a4 !important;
    color: #fff !important;
    border: 1px solid #086f6d;
}
/*** 驗證碼 ***/
.v-code-cont{
    display: inline-block;
    height: 34px;
    vertical-align: bottom;
}
.v-code-cont img{
    margin-right: 5px;
    height: 32px;
    border:1px solid #d5d5d5;
    border-radius: 3px;
}
/*** footer ***/
footer{
    border-top: 1px solid #003c3b;
    margin-top:10px;
    padding: 8px 0;
    color: #003c3b;
    font-size: 13px;
}

/*** 忘記密碼 ***/
.forget-block h1,
.change-block h1{
    text-align: center;
}
h2.forget-title{
    position: relative;
    margin-top: 0;
    font-size: 26px;
    color: #64dad8;
    padding: 10px 0;
    text-align: left;
    font-weight: 600;
}
h2.forget-title:after{
    content:"";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #64dad8;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}
h3.forget-word{
    padding: 5px 25px 10px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 20px;
}
.forget-block h1 img,
.change-block h1 img{
    margin-left: 0;
}
/*** 變更密碼 ***/
@media screen and ( max-width: 768px){
    label.control-label{
        text-align: left;
    }
    h1{
        font-size: 24px;
    }
    .login-block h1{
        text-align: center;
    }
    .login-block h1 img{
        margin-left:0;
    }
}
@media screen and ( max-width: 575px){
    .col-sm-9{
        flex: 0 0 70%;
        max-width: 70%;
    }
    .col-sm-3{
        flex: 0 0 30%;
        max-width: 30%;
    }
}
@media screen and ( max-width: 375px){
    h1{
        font-size: 22px;
    }
    h1 img{
        margin-left: 0;
    }
}
@media screen and ( max-width: 320px){
    h1{
        font-size: 22px;
    }
}
