
/*button*/
/*color*/
$btn-bg-primary            : #007D7D;
$btn-primary-border        : #006C68;
$btn-bg-default            : #FAFAFA;
$btn-default-border        : #00A19E;
$btn-bg-delete             : #666666;
$btn-bg-red                : #F38181;
$btn-bg-transparent        : transparent;
$btn-icon-box1             : #6EC5E5;
$btn-icon-box2             : #F38181;
$btn-icon-box3             : #90B831;
$btn-icon-box4             : #ECAB2E;

/*size*/
$nav-icon                  : 40px;
$icon-sign                 : 20px;
$radius-all                : 50%;
$radius-5                  : 5px;
$btn-size-normal           : 40px;
$btn-wid-normal            : 140px;
$btn-page                  : 40px;
$btn-box                   : 126px;
$btn-box-icon              : 2.5em;
$btn-box-name              : 6em;
/*margin*/
$margin-normal             : 20px;
$margin-btn                : 1.5em;
/*padding*/
$page-pre-padding          : 1.5rem;

a:hover{
    text-decoration: none;
}
button{
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
    border: none;
    outline: transparent;
}
.signout,.signin{
    color: $font-color-w;
    background: $btn-bg-transparent;
    font-size: $font-subtitle;
    line-height: 2em;
}

/* navbar */
/* 最新消息/下載專區/待辦事項 */
.navbar-dark .navbar-nav .nav-link:hover{
    color: $font-color-w;
    background: rgba(0,0,0,.1);
}
.btn-icon{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: $nav-icon;
    height: $nav-icon;
    background: $btn-bg-transparent;

    &:hover{
        background: rgba(0,0,0,.1);
    }
    .btn-icon-sign{
        position: absolute;
        width: $icon-sign;
        height: $icon-sign;
        background: $btn-bg-red;
        border-radius: $radius-all;
        color: $font-color-w;
        font-size: $font-xs;
        line-height: $icon-sign;
        text-align: center;
        top: -($icon-sign/4);
        right: -($icon-sign/10);
    }
}
/*常用按鈕*/
.btn-wrap{
    margin: $margin-normal 0;
    &.btn-col-2{
        .btn{
            margin-right: $margin-btn;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.btn{
    min-width: $btn-wid-normal;
    padding: 0.5rem;
    height: $btn-size-normal;
    border:1px solid;
    border-radius: $btn-size-normal/2;
    &.btn-default{
        background: $btn-bg-default;
        border-color: $btn-default-border;
        color: $font-color-main;
    }
    &.btn-primary{
        background: $btn-bg-primary;
        border-color: $btn-primary-border;
        color: $font-color-w;
    }
    .fa{
        margin-right: 5px;
    }
}
.page-item{
    margin: 0 $margin-normal/4;

    .page-link{
        height: $btn-page;
        border-radius: $btn-page/4 !important;
        color: $font-page-btn;
        &.active{
            border-color: $border-btn-defalut ;
            color: $font-page-btn-active;
        }
    }
    &:first-child{
        margin-right: $margin-normal;
        .page-link{
            border-radius: $btn-page/2 !important;
            padding: 0.5rem $page-pre-padding;
        }
    }
    &:last-child{
        margin-left:  $margin-normal;
        .page-link{
            border-radius: $btn-page/2 !important;
            padding: 0.5rem $page-pre-padding;
        }
    }
    
}
/*按鈕顏色分配*/
.btn-icon-box{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-left: $margin-normal;
    width: $btn-box;
    height: $btn-box;
    border-radius: $radius-5;
    color: $font-color-w;
    text-align: center;
    justify-content: center;
    &:nth-child(4n+1){
        background: $btn-icon-box1;
    }
    &:nth-child(4n+2){
        background: $btn-icon-box2;
    }
    &:nth-child(4n+3){
        background: $btn-icon-box3;
    }
    &:nth-child(4n+4){
        background: $btn-icon-box4;
    }
    &:hover{
        filter: brightness(105%);
        color: $font-color-w;
    }
    i{
        font-size: $btn-box-icon;
        height: 1.6em;
        line-height: 1.8em;
    }
    .btn-icon-box-name{
        // position: absolute;
        width: $btn-box-name;
        height: calc(100% - 4.5em);
        margin: 5px auto 0;
        line-height: 22px;;
    }
}
.bootstrap-datetimepicker-widget{
    .btn{
        width: 54px;
        min-width: initial;
        height: 54px;
        padding: 5px;
        border: 0;
        border-radius: $radius-5;
    }
    .btn-primary{
        padding: 6px;
        width: auto;
        height: auto;
    }
}
/***表單按鈕***/
.form-btn{
    min-width:4em;
    padding:2px;
    height:30px;
    border-radius: $radius-5;
    margin-right: 5px;

}
.btn-danger{
    background-color: $bg-danger !important;
    border-color: $bg-fire !important;
}
.toggle-btn{
    background-color: transparent;
    color: $font-color-main;
}
.flex-row{
    .btn{
        flex: 0 0 25%;
    }
}