/* padding margin setting*/
$padding-title         : 50px;
/*字體*/
body{
    font-family: Arial, Helvetica, sans-serif,$font-family;
}
/*index*/
.main-title,.section-main-title{
    position: relative;
    padding: 0;
    color: $font-color-main;
    font-size: $font-title;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &.close-style:after{
        position: absolute;
        content: '';
        width: 100%;
        height:2px;
        background-color: $font-color-main;
        bottom: -0.61rem;
        left: 0;    
    }
}
/*header*/
.user-info{
    color: $font-color-w;
    font-size: $font-small;
}

.navbar-dark .navbar-nav .nav-link{
    color: $font-color-w;
}
/*content*/
.sub-title{
    color: $font-color-main;
    font-size: $font-subtitle;
    font-weight: 500;
}
.form-label{
    color: $font-color-label;
    font-size: $font-cont;
    text-align: right;
    &.required{
        position: relative;
        &::before{
            content: '*';
            position: absolute;
            top: -2px;
            right: 0.5em;
            color: $font-red;
        }
    }
}
.section-text{
    color: $font-color-label;
    font-size: $font-cont;
    font-weight: normal;
}
.text-highlight{
    color: $font-color-main;
}
/*error*/
.with-errors{
	color: $font-red;
}
/*breadecrumb*/
.bread-c{
    color: $font-color-bread-c;
    font-size: $font-cont;
}