/*RWD*/
$PC          : 1280px;
$pad         : 1024px;
$pad-md      : 960px;
$pad-sm      : 768px;
$pad-max-sm  : 767px;
$mobile      : 460px;
$mobile-xs   : 374px;
$wid-100p    : 100%;
/*padding/margin setting*/
$padding-md     : 15px;
$padding-normal : 10px;
$padding-sm     : 5px;
$margin-normal  : 10px;
$margin-sm      : 5px;
@media screen and(min-width: $PC){
    .cont-wid{
        width: $PC;
    }
}
@media screen and(max-width: $PC)and(min-width: $mobile){
    .cont-wid{
        width: $wid-100p;
    }
    /*系統維運*/
    .submenu{
        width: $wid-100p !important;
        left: 0 !important;
    }
}
@media screen and(max-width: $pad-md){
    .footer .footer-cont{
        padding: 5px 5%;
    }
}
@media screen and(max-width: $pad-max-sm){
    .search-bar, .system-bar{
        padding: 15px;
    }
    .btn-wrap.btn-col-2 .btn{
        min-width: 120px;
        margin: 0.5em;
    }
    .navbar-collapse{
        background: $bg-be;
        z-index: 1000;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: $font-color-main;
    }
    /*系統維運*/
    .submenu{
        width: $wid-100p !important;
        left: 0 !important;
    }
    .form-label{
        text-align: left;
    }
    /*button*/
    .btn-wrap{
        &.sm-center{
            text-align: center;
        }
    }
    /*footer*/
    
    .footer{
        height: auto;
        .footer-box{
            justify-content: flex-end;
            .footer-cont{
                flex: 0 0 100%;
            }
        }
    }
    /*input*/
    .input-date-text{
        padding-left: $padding-md;
    }
	/*最新消息按鈕列*/
    .modal-btn-section{
        display: flex !important;
        width: 100%;
        height: 50px;
        background: $bg-btn-modal;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .btn-icon{
            width: calc(100% / 3);
            .btn-icon-sign{
                top: -4px;
                right: 38%;
            }
        }
    }

}
@media screen and(max-width: $mobile){
    .cont-wid{
        width: $wid-100p;
        padding: 0 $padding-sm;
    }

}