@media (max-width: 767.98px){
    .table-responsive-md{
        .table th{
            white-space: nowrap;
        }
    }
}
@media (max-width: 575.98px){
    .table-responsive-sm{
        .table th{
            white-space: nowrap;
        }
    }
}