/*字體*/
$font-family               : "微軟正黑體";

/*字體顏色*/
$font-color-main           : #007D7D;
$font-color-label          : #222;
$font-color-input          : #444;
$font-color-placeholder    : #AAA;
$font-color-disable        : #959595;
$font-color-bread-c        : #888;
$font-page-btn             : #6D6D6D;
$font-page-btn-active      : #00A19E;
$font-color-w              : #FFF;
$font-red                  : #E60012;

/*字級大小*/
$font-title                : 22px;
$font-subtitle             : 20px;
$font-cont                 : 16px;
$font-small                : 14px;
$font-xs                   : 12px;

/*背景顏色*/
$bg-head                   : #007D7D;
$bg-footer                 : #E4E4E4;
$bg-btn-proj               : #3DBAB8;
$bg-index                  : #E5F2EA;
$bg-disable                : #DBDBDB;
$bg-be                     : #F5F5F5;
$bg-btn-modal              : #F3F3F3;
$bg-w                      : #FFF;
$bg-info                   : #00A19E;
$bg-travel                 : #90B831;
$bg-liability              : #ECAB2E;
$bg-fire                   : #F38181;
$bg-car                    : #6EC5E5;
$bg-danger                 : rgb(240, 95, 95);
$bg-error                  : rgba(240, 95, 95, .08);

/*border*/
$border-input              : #D5D5D5;
$border-btn-defalut        : #00A19E;

/*table*/
$thead                     : #00A19E;
$table-striped             : #EEE;
